<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.abzaa.abzaa" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".EditPicture" android:label="Edit Picture" />
        <activity android:name=".splash" />
        <activity android:name=".About" />
        <activity android:name=".Settings" />

        <activity android:name=".Register" android:label="Registration" />
        <activity android:name=".Login" android:label="Login" />
        <activity android:name=".NoGroup" />
        <activity android:name=".CreateNewGroup" android:label="New Group" />
        <activity android:name=".CreateNewGroupLoggedIn" android:label="New Group" />
        <activity android:name=".JoinNewGroup" android:label="Join Group" />
        <activity android:name=".NameList" android:label="Group Details" />

        <activity android:name=".Profile" android:label="Profile"/>
        <activity android:name=".Stat" android:label="Statistics" />
        <activity android:name=".StartPeriod" android:label="Start Period" />
        <activity android:name=".StopPeriod" android:label="Stop Period" />
        <activity android:name=".ForceStopPeriod" android:label="Force Stop Period" />
        <activity android:name=".Tips" android:label="Tips and Extras" />
        <activity android:name=".TipsDetails" android:label="Details" />
    </application>

</manifest>
